{% extends "base.html" %}

{% block title %}View Registry{% endblock %}

{% block content %}
<h2>Game Registry</h2>

<a href="{% url "registry:game_add_form" %}">Add a New Game</a>

<hr>
{% for game in game_list %}
<p>
    <a href="{% url "registry:detail" game.player_1.id %}">{{ game.player_1.first_name }} {{ game.player_1.last_name }}</a> ({{ game.player_1_rating }} 
        {% if game.player_1_rating_change >= 0 %}<span style="color: green">+{% else %}<span style="color: red">{% endif %}{{ game.player_1_rating_change }}</span>) vs. 

    <a href="{% url "registry:detail" game.player_2.id %}">{{ game.player_2.first_name }} {{ game.player_2.last_name }}</a> ({{ game.player_2_rating }} 
    {% if game.player_2_rating_change >= 0 %}<span style="color: green">+{% else %}<span style="color: red">{% endif %}{{ game.player_2_rating_change }}</span>)
</p>

<p>Referee: <a href="{% url "registry:detail" game.referee.id %}">{{ game.referee.first_name }} {{ game.referee.last_name }}</a></p>

<p>Game result: 
    {% if game.game_result == 1 %}{{ game.player_1.first_name }} {{ game.player_1.last_name }} (Player 1) Wins
    {% elif game.game_result == 2 %}{{ game.player_2.first_name }} {{ game.player_2.last_name }} (Player 2) Wins
    {% elif game.game_result == 3 %}Draw
    {% endif %}
</p>
<hr>
{% endfor %}

{% endblock %}