<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}Pool and Billiards{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block include_main_stylesheet %}
    {% load static %}
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    {% endblock %}

</head>

<body>
    <div class="wrapper">

        <header class="navbar">
            <a href="{% url "home" %}" class="logo-wrapper"><img src="{% static "images/logo.svg" %}" class="logo"></a>
            <nav class="navbar-links">
                <ul>
                    {% if perms.registry.can_view_others_games and perms.registry.can_view_others_ratings %}
                    <li><a href="{% url 'registry:view' %}">Registry</a></li>
                    {% endif %}
                    
                    {% if not user.is_authenticated %}
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    <li><a href="{% url 'accounts:signup' %}">Create an Account</a></li>
                    {% else %}
                    <li><a href="{% url 'accounts:password_change' %}">Change Password</a></li>
                    <li>
                        <form action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="link-style">Log Out</button>
                        </form>
                    </li>
                    {% endif %}

                </ul>
            </nav>
        </header>


        <main>
            {% block content %}
            {% endblock %}
        </main>

    </div>

    <footer>
        
    </footer>
</body>

</html>